<ion-view view-title="返利费用确认" hide-nav-bar="true">
  <div class="bar neu-stable-bar neu-tab2-top">
    <div style="width: 25%"></div>
    <div class="neu-tab2 neu-tab2-left" ng-class="{ 'neu-tab2-selected':cateShow==0}" ng-click="showCate(0)">待确认</div>
    <div class="neu-tab2 neu-tab2-right" ng-class="{ 'neu-tab2-selected':cateShow==1}" ng-click="showCate(1)">已确认</div>
    <div style="width: 25%"></div>
  </div>
  <div class="neu-search marT-55">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="客户名称关键字" ng-model="search.customerName">
        <button class="search ion-ios-search coHx"></button>
      </label>
    </div>
  </div>
  <ion-content class="narT-107">

    <div style="text-align: center"><ion-spinner icon="android" ng-if="spTip==0"></ion-spinner></div>
    <ion-list class="neu-list">
      <div ng-repeat="item in costList | filter:search" ng-click="toDetail(item)">
        <ion-item class="item-icon-right">
          <p>客户名称：<span class="wx-gray neu-list-RL">{{item.customerName}}</span></p>
          <!--<p>大连锁名称：<span class="wx-gray neu-list-RL">{{item.csTypeName}}</span></p>-->
          <p>费用订单号：<span class="wx-gray neu-list-RL">{{item.csCostNo}}</span></p>
          <p>行号：<span class="wx-gray neu-list-RL">{{item.csLineNo}}</span></p>
          <p>日期：<span class="wx-gray neu-list-RL">{{item.csCostDate}}</span></p>
          <p ng-if="cateShow==1">状态：<span class="wx-gray neu-list-RL">{{item.statusFlagName}}</span></p>
          <i class="icon ion-ios-arrow-right" style="color: #ddd;"></i>
        </ion-item>
      </div>
    </ion-list>
    <p class="tip" style="margin-top:15px;" ng-if="spTip==1">暂无数据</p>
  </ion-content>

</ion-view>
