<ion-view view-title="政策核对单申诉查询">
  <ion-content>
    <ion-list class="neu-list">
      <ion-item class="item-icon-right" ng-click="clickToDetail(1)">
        <p>客户：镇江市桌先电器有限公司</p>
        <p>申诉分类：返利确认金额</p>
        <div class="row">
          <p class="col-60">差异金额：{{3600 | currency:"￥"}}</p>
          <p class="col-40">2016-12-30</p>
        </div>
        <i class="icon ion-ios-arrow-forward" style="color: #b2b2b2"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="clickToDetail(2)">
        <p>客户：无锡往北集团有限公司</p>
        <p>申诉分类：返利确认金额</p>
        <div class="row">
          <p class="col-60">差异金额：{{3600 | currency:"￥"}}</p>
          <p class="col-40">2016-12-30</p>
        </div>
        <i class="icon ion-ios-arrow-forward" style="color: #b2b2b2"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="clickToDetail(3)">
        <p>客户：无锡往北集团有限公司</p>
        <p>申诉分类：返利确认金额</p>
        <div class="row">
          <p class="col-60">差异金额：{{3600 | currency:"￥"}}</p>
          <p class="col-40">2016-12-30</p>
        </div>
        <i class="icon ion-ios-arrow-forward" style="color: #b2b2b2"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
